.wd-profile-row {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
}

.wd-profile hr {
    margin-top: 10px;
}

.wd-profile .fa-bars {
    margin-top: 12px;
    padding-right: 20px;
    color: #cc0000;
}

.wd-profile-icon {
    margin-left: 10px;
    color: grey;
}

.btn-primary {
    background-color: #cc0000;
    border-color: #cc0000;
}

.btn-primary:hover {
    background-color:#cc0000;
    border-color: #cc0000;
}

.btn-secondary {
    color:black; 
    border-color:#d1d1d1; 
    background-color: #ebebeb;
}

.btn-secondary:hover {
    color:black; 
    border-color:#d1d1d1; 
    background-color: #ebebeb;
}

.wd-profile-info .form-control {
    width: 70%;
}

.wd-right-padding {
    padding-right: 25px;
}

a {
    color: #cc0000;
}

.wd-link-icons .input-group-text {
    border: 0px;
    background-color: white;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.wd-link-section .row {
    width: 70%;
}

.wd-link-section .col {
    padding-left: 0%;
    padding-right: 0%;
}

.wd-dropdown-button .btn-secondary {
    color:black; 
    background-color: white; 
    border-color: #ced4da;
}

.col-5 {
    width: 100px;
}

.fa-bars {
    color: white;
}

.fa-glasses {
    color: white;
    margin-right: 5px;
}

.fa-xmark {
    color: white;
}

.fa-chevron-down {
    color: white;
}

.fa a {
    text-decoration: none!important;
    color: white!important;
}

.navbar-brand {
    font-size: medium;
}

.bg-dark {
    background-color: black!important;
}

.wd-small-anav .fa {
    margin-right: 8px;
}

.wd-small-anav .fa-regular {
    margin-right: 8px;
}

.wd-small-anav .list-group {
    border-radius: 0;
}

.wd-small-anav .list-group-item {
    border: none;
    color: #cc0000;
}

.wd-small-anav .list-group-item a {
    color: #cc0000;
    text-decoration: none;
}

.wd-small-anav .list-group-item.active a {
    font-weight: bold;
    text-decoration: none;
}

.wd-small-anav .list-group-item.active {
    font-weight: bold;
    text-decoration: none;
    background-color: white;
}

.bg-light {
    background-color: white!important;
}

.wd-small-knav .list-group {
    border-radius: 0;
    margin-left: 20px;
}

.wd-small-knav .list-group-item {
    border: none;
    color: #cc0000;
}

.wd-small-knav .list-group-item a {
    color: #cc0000;
    text-decoration: none;
}

.wd-small-knav .list-group-item.active a {
    font-weight: bold;
    text-decoration: none;
}

.wd-small-knav .list-group-item.active {
    font-weight: bold;
    text-decoration: none;
    background-color: white;
}

.wd-small-knav .fa {
    margin-right: 8px;
}
