.wd-kanbas-navigation {
    background-color: black;
    border-radius: 0px!important;
    color: white;
    padding: 0px;
    width: 85px;
    font-size: 0.9em;
    min-height: 100vh;
    height: 100%;
}

.wd-kanbas-navigation .list-group-item {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.wd-kanbas-navigation a {
    background-color: black;
    color: white;
    border-radius: 0px;
    border: none;
}

.wd-icon-color {
    color:#cc0000;
    font-size: 30px;
}

.wd-kanbas-navigation a.active {
    background-color: white;
    color: #cc0000;
}

.wd-logo {
    width: 70px;
}