.wd-account-navigation.list-group {
    border-radius: 0px;
    position: sticky;
    top: 15px;
}

.wd-account-navigation .list-group-item {
    border: none;
    color: #cc0000;
}

.wd-account-navigation .list-group-item a {
    color: #cc0000;
    text-decoration: none;
}

.wd-account-navigation .list-group-item.active a {
    color: black;
    text-decoration: none;
}

.wd-account-navigation .list-group-item.active {
    color: black;
    background-color: white;
    border: none;
    border-left: 2px solid black;
}

